<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'admin-login.css' %}">
    <title>FitLife-Admin Giriş</title>
</head>
{% block body %}

    <div class="container">
        <h2>Admin Girişi</h2>
        <form class="login-form" method="post">
            <br>
            {% csrf_token %}
            {{form|crispy}}
            <br>
            <button type="submit" class="button-style">Giriş Yap</button>
        </form>

    </div>

{% endblock body %}
</html>
