<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load static %}
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'forget-password.css' %}">
    <title>FitLife-Şifre Sıfırlama</title>
</head>
{% block body %}

    <div class="container">
        <div class="col-md-6 offset-md-3">
            <h2>Şifremi Unuttum</h2>
            <form method="post">
                <br>
                {% csrf_token %}
                {{form|crispy}}
                <br>
                <button type="submit" class="button-style">Şifremi Sıfırla</button>
            </form>
        </div>
    </div>

{% endblock body %}
</html>
