<!DOCTYPE html>
{% load static %}
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>FitLife</title>
</head>
<body>
    <div class="container">
        <h2>FİTLİFE</h2>
        <p>Hoş Geldiniz!</p>
        <div class="button-container">
            <a href="login/admin/" class="login-button">Admin Girişi</a>
            <a href="login/trainer" class="login-button">Antrenör Girişi</a>
            <a href="login/user" class="login-button">Üye Girişi</a>
        </div>
    </div>

</body>
</html>
